@import "tailwindcss";

@theme {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-off-white: rgb(242, 242, 242);

  --color-orange-100: rgb(254, 243, 205);
  --color-orange-200: rgb(251, 197, 4);
  --color-orange-300: rgb(254, 152, 7);
  --color-orange-400: rgb(244, 67, 24);

  --color-green-100: rgb(204, 242, 221);
  --color-green-200: rgb(0, 191, 87);
  --color-green-300: rgb(0, 140, 95);
  --color-green-400: rgb(0, 89, 33);
  
  --color-blue-100: rgb(204, 243, 255);
  --color-blue-200: rgba(1, 194, 255, 1);
  --color-blue-300: rgba(8, 126, 238, 1);
  --color-blue-400: rgba(14, 59, 221, 1);

  --color-pink-100: rgb(254, 229, 243);
  --color-pink-200: rgba(255, 126, 197, 1);
  --color-pink-300: rgba(174, 79, 242, 1);
  --color-pink-400: rgba(89, 0, 255, 1);

  --shadow-orange: 0 0px 100px 40px rgba(244, 67, 24, 0);
  --shadow-orange-hover: 0 0px 100px 40px rgba(244, 67, 24, 1);

  --shadow-green: 0 0px 100px 40px rgba(0, 89, 33, 0);
  --shadow-green-hover: 0 0px 100px 40px rgba(0, 89, 33, 1);

  --shadow-blue: 0 0px 100px 40px rgba(14, 59, 221, 0);
  --shadow-blue-hover: 0 0px 100px 40px rgba(14, 59, 221, 1);

  --shadow-pink: 0 0px 100px 40px rgba(89, 0, 255, 0);
  --shadow-pink-hover: 0 0px 100px 40px rgba(89, 0, 255, 1);

  --text-case-title: 93px;
  --text-case-title--line-height: 90%;
  --text-case-title--letter-spacing: -0.01em;

  --text-94: 94px;
  --text-94--line-height: 130%;
  --text-94--letter-spacing: -0.01em;

  --text-83: 83px;
  --text-83--line-height: 130%;
  --text-83--letter-spacing: -0.01em;

  --text-74: 74px;
  --text-74--line-height: 130%;
  --text-74--letter-spacing: -0.01em;

  --text-66: 66px;
  --text-66--line-height: 130%;
  --text-66--letter-spacing: -0.01em;

  --text-58: 58px;
  --text-58--line-height: 130%;
  --text-58--letter-spacing: -0.01em;

  --text-52: 52px;
  --text-52--line-height: 130%;
  --text-52--letter-spacing: -0.01em;

  --text-46: 46px;
  --text-46--line-height: 130%;
  --text-46--letter-spacing: -0.01em;

  --text-41: 41px;
  --text-41--line-height: 130%;
  --text-41--letter-spacing: -0.01em;

  --text-36: 36px;
  --text-36--line-height: 130%;
  --text-36--letter-spacing: -0.01em;

  --text-32: 32px;
  --text-32--line-height: 130%;
  --text-32--letter-spacing: -0.01em;

  --text-29: 29px;
  --text-29--line-height: 130%;
  --text-29--letter-spacing: -0.01em;

  --text-26: 26px;
  --text-26--line-height: 130%;
  --text-26--letter-spacing: -0.01em;

  --text-23: 23px;
  --text-23--line-height: 130%;
  --text-23--letter-spacing: -0.01em;

  --text-20: 20px;
  --text-20--line-height: 130%;
  --text-20--letter-spacing: -0.01em;

  --text-18: 18px;
  --text-18--line-height: 130%;
  --text-18--letter-spacing: -0.01em;

  --text-16: 16px;
  --text-16--line-height: 126%;
  --text-16--letter-spacing: -0.02em;
  
  --text-14: 14px;
  --text-14--line-height: 150%;
  --text-14--letter-spacing: -0.02em;

  --spacing: 1px;

  --aspect-video: 1.65;
  --aspect-portrait-video: 0.56;
}

:root {
  --margin: 80px;
  --grid-columns: 16;
  --grid-gap: 24px;

  --column-width: calc(calc(100vw - var(--margin)) / var(--grid-columns));
}

@media (max-width: 1024px) {
  :root {
    --margin: 20px;
    --grid-columns: 2;
    --grid-gap: 16px;
  }
}

@theme inline {
  --font-sans: var(--font-pp-neue-montreal), sans-serif;
  --font-mono: var(--font-ibm-plex-mono), monospace;

  --color-step-100: var(--step-color-100);
  --color-step-200: var(--step-color-200);
  --color-step-300: var(--step-color-300);
  --color-step-400: var(--step-color-400);
}

@layer base {
  .grid-contain {
    @apply grid grid-cols-1 grid-rows-1 *:col-span-1 *:row-span-1 *:col-start-1 *:row-start-1;
  }

  .container {
    @apply px-20 lg:px-80 max-w-screen;
  }

  .site-grid {
    @apply grid grid-cols-2 gap-x-16 lg:grid-cols-16 lg:gap-x-24;
  }

  .card {
    @apply relative;
  }

  .card-link::after {
    @apply absolute inset-0 w-full h-full cursor-none z-[2];
    content: '';
  }
  
  .mb-screen {
    margin-bottom: 100svh;
  }

  .-mb-screen {
    margin-bottom: calc(-1 * (100svh));
  }

  .mt-screen {
    margin-top: 100svh;
  }

  .-mt-screen {
    margin-top: calc(-1 * (100svh));
  }

  .h-screen {
    height: 100svh;
  }

  .min-h-screen {
    min-height: 100svh;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .case-module {
    @apply px-20 md:px-0;
  }
}

@utility w-column-* {
  width: calc(var(--column-width) * --value(integer));
}

@utility max-w-column-* {
  max-width: calc(var(--column-width) * --value(integer));
}

@utility gap-x-column-* {
  column-gap: calc(var(--column-width) * --value(integer) + var(--grid-gap));
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility rounded-* {
  border-radius: --value(integer)px;
}

@utility p-* {
  padding: --value(integer)px;
}

@utility px-* {
  padding-inline: --value(integer)px;
}

@utility pl-* {
  padding-left: --value(integer)px;
}

@utility pr-* {
  padding-right: --value(integer)px;
}

@utility py-* {
  padding-block: --value(integer)px;
}

@utility pb-* {
  padding-bottom: --value(integer)px;
}

@utility pt-* {
  padding-top: --value(integer)px;
}

@utility m-* {
  margin: --value(integer)px;
}

@utility mx-* {
  margin-inline: --value(integer)px;
}

@utility ml-* {
  margin-left: --value(integer)px;
}

@utility mr-* {
  margin-right: --value(integer)px;
}

@utility my-* {
  margin-block: --value(integer)px;
}

@utility mb-* {
  margin-bottom: --value(integer)px;
}

@utility mt-* {
  margin-top: --value(integer)px;
}

@utility max-w-* {
  max-width: --value(integer)px;
}

@utility min-w-* {
  min-width: --value(integer)px;
}

@utility gap-* {
  gap: --value(integer)px;
}

@utility gap-y-* {
  row-gap: --value(integer)px;
}

@utility gap-x-* {
  column-gap: --value(integer)px;
}

@utility grid-cols-* {
  grid-template-columns: repeat(--value(integer), minmax(0, 1fr));
}

@utility col-start-* {
  grid-column-start: --value(integer);
}

@utility col-span-* {
  grid-column: span --value(integer) / span --value(integer);
}

@utility h-screen-* {
  height: calc(1svh * --value(integer));
}

@utility min-h-screen-* {
  min-height: calc(1svh * --value(integer));
}

@utility mb-screen-* {
  margin-bottom: calc(1svh * --value(integer));
}

@utility -mb-screen-* {
  margin-bottom: calc(-1 * (1svh * --value(integer)));
}

@utility mt-screen-* {
  margin-top: calc(1svh * --value(integer));
}

@utility -mt-screen-* {
  margin-top: calc(-1 * (1svh * --value(integer)));
}

@custom-variant hover-active {
  @media (hover:hover) {
    &:hover {
      @slot;
    }
  }

  &:active {
    @slot;
  }
}

@custom-variant all-interactions {
  @media (hover:hover) {
    &:hover {
      @slot;
    }
  }

  &:active {
    @slot;
  }

  &:focus-visible {
    @slot;
  }
}

* {
  text-decoration-thickness: 0.05em;
  text-underline-offset: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
}

i, em {
  font-style: normal;
}

body:not(.fullscreen) *:not(input, textarea, .disable-cursor) {
  cursor: none;
}

.disable-cursor, .disable-cursor * {
  cursor: pointer !important;
}

body.fullscreen .site-cursor {
  display: none;
}

.lenis, .scrollbar-hidden {
  scrollbar-width: none;
}

.lenis::-webkit-scrollbar, .scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

mux-player,
mux-video {
  width: 100%;
  height: 100%;
  transform: translateZ(0) skew(0deg);
  --media-object-fit: cover;
  --media-object-position: center;
  --controls: none;
}

mux-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}